// _home.scss
.home-page {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 150px; 

    @media (max-width: 768px){
        padding-top: 30px; 

    }
  }
  